/*banner*/
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  z-index: 1;
  text-transform: uppercase;
  position: relative;
  background-position-x: center;
  background-size: cover;
  text-align: center;
  margin-bottom: 0px;
  background-blend-mode: multiply;
  h1 {
    padding: 10px;
    font-size: 38px;
  }
  h1,
  h2 {
    color: $white;
    position: relative;
  }
  h2 {
    font-size: 30px;
    &:hover {
      transform: scale(1.1);
      transition: 0.5s;
    }
  }
  h1::after {
    height: 3px;
    width: 56px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    content: "";
    bottom: 0;
    position: absolute;
    background-color: $blue-light-2;
  }
  .text-banner-cta {
    text-align: center;
    align-items: center;
    text-transform: uppercase;
    .--quemSomos {
      width: 400px;
    }
    .--servicos {
      max-width: 620px;
    }
  }

  .text-banner-cta {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    text-transform: uppercase;
  }
  .container-banner-hero {
    width: 100%;
  }
  &.banner-hero {
    height: 15em;
    &.--quemSomos {
      background-image: url("../assets/img/banner-hero_quem-somos.jpg");
    }
    &.--servicos {
      background-image: url("../assets/img/banner-hero_servicos.jpg");
    }
    &.--suporteManutencao {
      background-image: url("../assets/img/banner-hero_suporte-e-manutencao.jpg");
      background-position-y: -620px;
    }
    &.--contato {
      background-image: url("../assets/img/banner-hero_contato.png");
    }
    &.--blog {
      background-image: url("../assets/img/banner-hero_blog.png");
    }
    &.--blogIntegra {
      h1 {
        font-size: 32px;
      }
    }
  }
  &.banner-cta {
    height: 20em;
    background-color: #26aecd;
    &.--quemSomos,
    &.--servicosIntegra {
      background-image: url("../assets/img/banner-cta_quem-somos.jpg");
    }
    &.--servicos {
      background-image: url("../assets/img/banner-cta_servicos.jpg");
    }
    &.--servicos::after,
    &.--blog::after,
    &.--servicosIntegra::after {
      opacity: 0.7;
      background-color: #1d90aa;
    }
    &.--servicosIntegra {
      margin-top: 60px;
      background-image: url("../assets/img/banner-cta_servicos-integra.png");
    }
    &.--blog {
      background-image: url("../assets/img/banner-cta_blog.png");
    }
  }
  &.banner-cta::after,
  &.banner-hero::after {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
  }
  &.banner-hero::after {
    opacity: 0.7;
    background-color: hsl(0, 0%, 16%);
  }
  &.banner-cta::after {
    opacity: 0.1;
    background-color: #26aecd;
  }
}

@media screen and (max-width: 730px) {
  .banner {
    &.banner-hero {
      &.--blogIntegra {
        h1 {
          font-size: 28px;
        }
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .banner {
    &.banner-hero {
      height: 18em;
    }
  }
  .banner {
    .title-h2-banner {
      font-size: 28px;
      max-width: 390px;
    }
    &.banner-cta {
      height: 18em;
      &.--servicosIntegra {
        margin-top: 0;
      }
    }
    h1 {
      &.--servicosIntegra {
        font-size: 30px;
      }
    }
    &.banner-hero {
      &.--blogIntegra {
        h1 {
          font-size: 22px;
        }
      }
    }
    &.--blogIntegra {
      h1 {
        font-size: 28px;
      }
    }
  }
}
@media screen and (max-width: 400px) {
  .banner {
    .title-h2-banner {
      font-size: 23px;
      max-width: 300px;
    }
  }
}

/*banner*/
