.subtitle-h3 {
  margin-bottom: 15px;
}
.container-card-blog {
  box-sizing: border-box;
}
.title-h2 {
  &.--blog {
    margin-bottom: 60px;
  }
}

.section-card-blog {
  padding: 60px 0;
  &.--blog {
    background-color: #2a9efc12;
  }
  &.--blogIntegra {
    background-color: $white;
  }
}

.cards-post-blog {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 30px;
  column-gap: 30px;
  width: 100%;
  &.cards-other-posts {
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 50px;
  }
}

.card-post-blog {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.123);
  &:hover {
    outline: 5px solid $blue-light-2;
    transition: 0.1s;
  }
}

.card-content {
  &.--blog {
    background-color: $white;
    height: 220px;
    color: $black;
    justify-content: flex-start;
    padding: 20px 40px;
    position: relative;

    .h3-anchor {
      color: $black;
      font-size: 19px;
    }
    .title-post-integra {
      color: $black;
      font-size: 15px;
    }
    .anchor-blog {
      color: $blue-light-2;
      position: absolute;
      right: 5%;
      bottom: 10%;
      &:hover {
        color: $blue-dark;
        transition: 0.5s;
        transform: scale(1.1);
      }
    }
    p {
      font-size: 12px;
      color: $gray;
      margin: 18px 0;
    }
  }
  &.--blogIntegra {
    padding: 15px 30px;
    p {
      margin: 14px 0;
    }
  }
}

.card-img {
  height: 326px;
  width: 100%;
  background-repeat: no-repeat;
}

.integra-share {
  display: flex;
  h4 {
    margin-right: 8px;
  }
  gap: 5px;
  align-items: center;
}
.integra-share-img {
  width: 25px;
}

@media screen and (max-width: 991px) {
  .card-img {
    height: 250px;
  }
  .card-content {
    &.--blog {
      padding: 10px 20px;
      h3 {
        font-size: 16.5px;
      }
      p {
        margin: 10px 0;
      }
    }
  }
}

@media screen and (max-width: 670px) {
  .card-content {
    &.--blog {
      height: 200px;
      .h3-anchor {
        font-size: 16px;
      }
      .title-post-integra {
        color: $black;
        font-size: 13px;
      }
    }
  }
  .card-img {
    background-position-x: center;
  }
}

@media screen and (max-width: 600px) {
  .integra-share {
    justify-content: center;
  }
  .cards-post-blog {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .card-post-blog {
    width: 95%;
  }
  .card-img {
    background-position-x: center;
    height: 200px;
    &.--blog {
      &.card-img-1 {
        background-position-y: center;
      }
    }
  }

  .card-content {
    &.--blog {
      height: 180px;
    }
  }
}
@media screen and (max-width: 768px) {
  .section-card-blog {
    .container {
      max-width: unset;
    }
  }
}
