.breadcrumb {
  width: 100%;
  justify-content: flex-start;
  display: flex;
  color: $white;
  font-size: 13px;
  align-items: flex-start;
  text-transform: uppercase;
  padding-left: 108px;
  a {
    color: $white;
  }
  ul {
    margin-top: -70px;
    list-style: none;
    display: flex;
    gap: 30px;
    align-items: flex-start;
    li {
      align-items: flex-start;
    }
    li:not(:nth-of-type(1)) {
      list-style-type: disc;
    }
    .breadcrumb-active:hover {
      text-decoration: underline !important;
      text-decoration-style: solid $white;
    }
  }
  &.--blogIntegra {
    ul {
      margin-top: -55px;
    }
  }
}

@media screen and (max-width: 1015px) {
  .breadcrumb {
    &.--blogIntegra {
      ul {
        margin-top: -45px;
      }
    }
  }
}

@media screen and (max-width: 890px) {
  .breadcrumb {
    padding-left: unset;
    text-align: center;
    justify-content: center;
    align-items: center;
    ul {
      margin-top: -120px;
      flex-wrap: wrap;
    }
    &.--blogIntegra {
      ul {
        margin-top: -45px;
      }
    }
  }
}

@media screen and (max-width: 573px) {
  .breadcrumb {
    padding-left: unset;
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    ul {
      margin-top: -80px;
    }
  }
}
