.btn {
  display: inline-flex;
  align-items: center;
  font-weight: 700;
  height: 68px;
  width: 270px;
  font-size: 14px;
  text-transform: uppercase;
  border: none;
  border-radius: 50px;
  justify-content: center;
  &.btn-card {
    background: linear-gradient(90deg, #1d2d71 0%, #01558b 100%);
    color: $white;
    &:hover {
      filter: brightness(1.6);
      transition: 0.5s;
    }
  }
  &.btn-cta {
    background: $white;
    width: 320px;
    color: #26adcd;
    margin-top: 30px;
    &:hover {
      color: $white;
      background: $blue-dark-3;
      transition: 0.8s;
    }
  }
  &.btn-hero {
    height: 50px;
    width: 180px;
    font-size: 23px;
    color: $blue;
    background-color: $white;
    border-radius: 0%;
    text-transform: none;
    &:hover {
      background-color: $blue;
      color: $white;
    }
  }
  &.btn-submit {
    width: 180px;
    background: #19303e;
    color: $white;
    &:hover {
      cursor: pointer;
      transition: 0.5s;
      background: $blue;
    }
  }
}
@media screen and (max-width: 890px) {
  .btn-hero {
    text-align: center;
    align-items: center;
  }
}
@media screen and (max-width: 600px) {
  .btn {
    max-width: 270px;
  }
  &.btn-hero {
    height: 40px;
  }
  &.btn-cta,
  &.btn-hero {
    font-size: 12px;
    width: 120px;
  }
  &.btn-cta {
    height: 60px;
  }
}
