/*card serviços*/
.section-card {
  padding: 60px 0;
}
.container-services {
  .card-services {
    &:hover {
      transform: scale(1.05);
      transition: 0.5s;
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 18px;
  column-gap: 18px;
}

.cell {
  width: 100%;
  &:hover {
    transform: scale(1.05);
    transition: 0.5s;
  }
}

.card-content {
  padding: 20px;
  background-color: $blue-light-2;
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &.--servicos {
    min-height: 168px;
    padding: 18px;
  }
  &.--home {
    height: 188px;
    padding: 22px;
  }
  &.--home,
  &.--servicos {
    h3:hover,
    a:hover {
      color: $blue-dark;
      transition: 0.5s;
    }
  }

  p {
    margin: 18px 0;
    font-weight: 400;
    font-size: 14px;
  }
  a {
    color: $white;
    font-size: 13.5px;
  }
}

.card-image {
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 9rem;
}

.card-image-1 {
  background-image: url("../assets/img/img-card-1.png");
}

.card-image-2 {
  background-image: url("../assets/img/img-card-2.png");
}

.card-image-3 {
  background-image: url("../assets/img/img-card-3.png");
}

.card-image-4 {
  background-image: url("../assets/img/img-card-4.png");
}

.card-image-5 {
  background-image: url("../assets/img/img-card-5.png");
}

.card-image-6 {
  background-image: url("../assets/img/img-card-6.png");
}
.card-image-7 {
  background-image: url("../assets/img/img-card-7.png");
}

.card-image-8 {
  background-image: url("../assets/img/img-card-8.png");
}

.card-image-9 {
  background-image: url("../assets/img/img-card-9.png");
}

@media screen and (max-width: 1200px) {
  .card-content {
    &.--servicos,
    &.--servicosIntegra {
      min-height: 188px;
    }
  }
}
@media screen and (max-width: 1053px) {
  .grid {
    gap: 20px;
  }
}
@media screen and (max-width: 991px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
  .service-slider {
    .card-content {
      &.--servicosIntegra {
        min-height: 208px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .section-card {
    &.--servicos {
      padding: 30px 0 30px 0;
      .container {
        max-width: unset;
      }
    }
  }

  @media screen and (max-width: 603px) {
    .grid {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
    .cell {
      width: 322px;
    }
  }

  @media screen and (max-width: 340px) {
    .cell {
      width: 300px;
    }
    .card-services {
      max-width: 250px;
      p {
        font-size: 13.5px;
        line-height: 125%;
      }
    }
    .card-content {
      &.--home {
        height: 210px;
        padding: 20px;
      }
      &.--servicos {
        padding: 16px;
        font-size: 13px;
      }
    }
  }
}
