$gray-dark: #373737;
$gray-light: #c0c0c0;
$gray: #626262;

$blue-light: #92c1de;
$blue-light-2: #1caaec;
$blue-dark: #1d2d71;
$blue-dark-2: #0b4560;
$blue-dark-3: #024075;
$blue: #02568c;
$blue-2: #49b8d4;
$white: #ffffff;
$black: #000000;
