/*section-info-card*/
form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contact-text {
  padding-left: 60px;
  padding-right: 135px;
  .title-contato {
    font-size: 40px;
    text-transform: capitalize;
    position: relative;
    margin-top: 20px;
  }
  h2,
  p {
    color: $white;
    width: 230px;
    z-index: 1;
    position: relative;
    margin-left: 60px;
  }
  p {
    font-size: 18px;
    margin-top: 58px;
    font-weight: 400;
    line-height: 170%;
  }
  .title-contato::after {
    height: 4px;
    width: 40px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    text-align: left;
    content: "";
    bottom: 0;
    position: absolute;
    margin-bottom: -20px;
    background-color: $white;
  }
}
.quadrado-fale-conosco {
  position: absolute;
  width: 155px;
  height: 155px;
  border-radius: 10px;
  background: linear-gradient(90deg, #12297c 0%, #0da6df 100%);
  z-index: 1;
  pointer-events: all;
  &:hover {
    transform: scaleX(1.2);
    transition: 0.6s;
  }
  a {
    color: $black;
  }
}

label {
  font-weight: 500;
  font-size: 15px;
  display: block;
}

input {
  height: 40px;
}

input,
textarea {
  margin-bottom: 20px;
  margin-top: 10px;
  padding-left: 10px;
  font-family: "Montserrat", sans-serif !important;
  border-radius: 5px;
  border: none;
  border: 1px solid #d5d5d5;
  &:focus {
    outline: 1px solid $blue-light-2 !important;
    box-shadow: 0 0 0.4em $blue-light-2;
  }
}

textarea {
  padding-top: 10px;
  resize: none;
}

.tel-area,
.mail-area,
#nome,
#assunto,
#mensagem,
#email,
#telefone {
  width: 100%;
}

#mensagem {
  height: 90px;
}

.row-contact {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

#form-action {
  display: flex;
  justify-content: center;
}
.card-form-action-message {
  width: 60%;
  background: $white;
  border-radius: 10px;
  padding: 30px;
  align-self: center;
}

.form-action-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  img {
    width: 75px;
    align-self: center;
    margin-bottom: 20px;
  }
  span {
    font-weight: 700;
  }
  p {
    font-size: 18px;
    line-height: 150%;
  }
  .btn {
    margin-top: 20px;
    width: 230px;
    align-self: center;
    justify-content: center;
  }
}
/*section-info-card*/

/*section-contact-location*/
.section-contact-location {
  padding-top: 60px;
  h2 {
    margin-bottom: 50px;
  }
}

.maps {
  position: relative;
  z-index: -1;
  pointer-events: none;
}

.retangulo-mapa {
  position: absolute;
  width: 400px;
  height: 180px;
  background-color: $white;
  z-index: 1;
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 6px 6px 28px 5px rgba(0, 0, 0, 0.07);
  &:hover {
    transform: scale(1.1);
    transition: 0.5s;
  }
  img {
    height: 85px;
    width: 60px;
  }
}

.mapa {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  h3,
  address {
    text-align: left;
    font-style: normal;
    font-size: 14px;
  }
  address {
    color: $black;
  }
  h3 {
    color: $blue;
  }
}

.texto-mapa {
  h3 {
    font-weight: 700;
    font-size: 22px;
  }
}

/*section-contact-location*/
@media screen and (max-width: 1000px) {
  .main-contato {
    .container-card {
      flex-direction: column;
    }
    .contact-text {
      padding: 0 0 30px 0;
    }
    .container-card {
      justify-content: center;
    }
    .card {
      &.--contato {
        width: 100%;
        flex-direction: column;
        border-radius: 0%;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .row-contact {
    flex-direction: column;
    gap: 0;
  }
  .section-contact-location {
    padding-top: 20px;
  }
  .retangulo-mapa {
    width: 50%;
    flex-direction: column;
    img {
      width: 30px;
      height: 42px;
    }
  }
  .mapa {
    h3,
    address {
      text-align: center;
    }
    h3 {
      font-size: 18px;
    }
    address {
      font-size: 13.5px;
    }
  }
}

@media screen and (max-width: 680px) {
  .card-form-action-message {
    width: 85%;
    padding: 20px;
  }
  .form-action-message {
    img {
      width: 60px;
    }
    p {
      font-size: 16px;
    }
    .btn {
      width: 180px;
      font-size: 13px;
    }
  }
}
@media screen and (max-width: 490px) {
  .retangulo-mapa {
    width: 75%;
  }
}
