/*footer*/
footer {
  background-color: $blue-dark-2;
  background-image: url("../assets/img/logo-footer-.png");
  background-repeat: no-repeat;
  background-position-x: 105px;
}

.container-footer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 46px;
}

.footer-row {
  display: flex;
  height: 100%;
}

.footer-col-1,
.footer-col-2,
.footer-col-3 {
  margin-top: 61px;
}

.footer-item {
  list-style-type: none;
  margin-bottom: 15px;
  font-size: 14px;
  a {
    color: white;
  }
}

.large {
  font-weight: 700;
  margin-bottom: 20px;
  font-size: 18px;
  color: $blue-light;
  a {
    color: $blue-light;
  }
}

.footer-col-2 {
  margin-left: 150px;
}

.footer-col-3 {
  img,
  p:nth-of-type(1) {
    margin-bottom: 40px;
  }
}

.social-media-footer {
  display: flex;
  gap: 10px;

  li {
    display: flex;
    justify-content: center;
    &:hover {
      filter: brightness(1.3);
      transition: 0.4s;
      transform: scale(1.1);
    }
    img {
      width: 50px;
      height: 50px;
      margin-bottom: 20px;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

.footer-contact-title {
  font-size: 20px;
  color: $blue-light;
  margin-bottom: 10px;
}

.footer-contact-title:not(:nth-of-type(1)) {
  margin-top: 20px;
}

.footer-contact-anchor {
  color: $white;
  font-size: 20px;
  font-weight: 400;
}

.footer-contact-anchor,
.footer-item {
  &:hover {
    transform: scale(1.05);
    transition: 0.3s;
    color: $blue-light-2;
  }
  a {
    &:hover {
      color: $blue-light-2;
    }
  }
}
.copyright-footer {
  height: 60px;
  background-color: rgba(0, 0, 0, 0.323);
  display: flex;
  align-items: center;
  p {
    color: $blue-light;
  }
  .teste {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .copyright-footer-kbrtec {
    display: flex;
    align-items: center;
    img {
      margin-left: 10px;
      &:hover {
        transform: scale(1.05);
        transition: 0.3s;
      }
    }
  }
}
@media screen and (max-width: 1215px) {
  .footer-col-3 {
    padding-right: 15px;
  }
}
@media screen and (max-width: 1087px) {
  footer {
    .footer-col-2 {
      margin-left: 50px;
    }

    .footer-col-3 {
      .footer-contact-title {
        font-size: 18px;
      }

      .footer-contact-anchor {
        font-size: 14px;
      }
    }
  }
}
@media screen and (max-width: 890px) {
  footer {
    .footer-col-1,
    .footer-col-2 {
      margin-top: 55px;
    }
    .footer-col-3 {
      padding-right: 0;
    }
    .footer-col-2 {
      margin-left: 0px;
      padding-left: 100px;
    }
    .copyright-footer {
      padding-left: 0;
      height: 70px;
      .container {
        justify-content: center;
        display: flex;
        align-items: center;
      }
      .teste {
        flex-direction: column;
        align-items: center;
        p {
          padding: 5px 0;
        }
      }
    }
  }
  .footer-col-3 {
    margin-top: 20px;
  }

  .container-footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .social-media-footer {
    display: flex;
    align-items: center;

    .social-media-icon-footer {
      justify-content: center;
    }
  }
}
@media screen and (max-width: 600px) {
  footer {
    .footer-col-2 {
      padding-left: 25px;
    }
  }
}
