header {
  border-bottom: 5px solid $blue-light;
}

.menu-top {
  height: 40px;
  background-color: $blue-dark;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 5px 108px;
  gap: 10px;
  li {
    list-style-type: none;
    display: flex;
    justify-content: center;
  }
  img {
    width: 24px;
    height: 24px;
    filter: brightness(1000%);
    &:hover {
      transform: scale(1.2);
      filter: brightness(500%);
    }
  }
}

#btn-mobile {
  display: none;
}

.menu {
  height: 74px;
  display: flex;
  background-color: $white;
  align-items: center;
  justify-content: space-between;
  padding: 0 108px;
  .logo {
    display: flex;
    .logo-txt {
      align-self: center;
      height: 40px;
      margin-left: 10px;
    }
  }

  .menu-link {
    list-style: none;
    height: 40px;
    display: inline;
    padding-left: 36px;
    font-weight: 600;

    a {
      color: $gray;
      &:hover {
        color: $blue-light-2;
      }
    }
  }
}

@media screen and (max-width: 1215px) {
  .menu-list {
    font-size: 90%;
  }
}
@media screen and (max-width: 1087px) {
  .menu {
    .menu-link {
      padding-left: 0;
    }
  }

  .menu-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 7rem;
    right: 0;
    background-color: $white;
    transition: 0.5s ease;
    z-index: 1000;
    height: 0;
    visibility: hidden;
    overflow-y: hidden;
  }

  .menu.active .menu-list {
    height: 12rem;
    visibility: visible;
    overflow-y: auto;
  }

  .menu-list a {
    padding: 1rem 0;
    margin: 0 1rem;
  }

  #btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background: none;
    border: none;
    cursor: pointer;
    gap: 1.5rem;
  }

  #hamburguer {
    border-top: 2px solid $blue;
    width: 20px;
  }

  #hamburguer::before,
  #hamburguer::after {
    content: "";
    display: block;
    position: relative;
    width: 20px;
    height: 2px;
    margin-top: 5px;
    border-top: 5px;
    background-color: $blue;
    transition: 0.5s ease;
  }

  .menu.active #hamburguer {
    border-top: transparent;
  }

  .menu.active #hamburguer::before {
    transform: rotate(135deg);
  }

  .menu.active #hamburguer::after {
    transform: rotate(-135deg);
    top: -7px;
  }
}

@media screen and (max-width: 890px) {
  .menu,
  .menu-top {
    justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  .menu {
    padding: 0 20px;
  }
  .logo {
    .logo-img {
      width: 50px;
      height: 50px;
    }
  }
}
