.section-costumers,
.section-blog {
  margin-bottom: 75px;
}

.section-services,
.section-costumers {
  .swiper-button-next,
  .swiper-button-prev {
    color: $gray-light;
    font-weight: 700;
  }
}

h1 {
  &.--home {
    font-size: 38px;
    font-weight: 700;
  }
}

h2 {
  @include heading-2();
}

h3 {
  @include heading-3();
}

p {
  @include paragraph-1();
}

/*section-hero*/
.section-hero {
  .content {
    margin-left: 108px;
    color: $white;
    .text-hero {
      padding-right: 600px;
      font-size: 20px;
    }
    .title-hero {
      padding-right: 600px;
      margin-top: 90px;
    }
    h1,
    p {
      margin-bottom: 42px;
    }
  }
}
.swiper-hero {
  height: 516px;
  display: flex;
  overflow-x: hidden;
  .swiper-pagination {
    bottom: 20% !important;
  }
}

.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
  height: 15px !important;
  width: 15px !important;
}

.background-slide-hero {
  background-size: cover;
  height: 100%;
  width: 100%;
  display: flex;
}

.background-hero-1 {
  background-image: url("../assets/img/banner-hero.png");
  background-size: cover;
}
/*section-hero*/

/*a section-services está em um arquivo separado*/

/*section-costumers*/
.title-costumers {
  text-align: center;
  margin-bottom: 50px;
}

.container-costumers {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  .swiper {
    max-width: 1000px;
    .swiper-wrapper {
      align-items: center;
    }
  }
}

.swiper-costumers {
  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card-costumers {
    &:hover {
      transform: scale(1.2);
      transition: 0.5s;
    }
  }
}
/*section-costumers*/

/*section-blog*/
.container-blog {
  display: flex;
  justify-content: space-between;
}

.col-sysconnect,
.col-blog {
  img {
    margin: 24px 0;
    width: 370px;
  }
}

.col-blog:nth-of-type(3) {
  margin-top: 72px;
  margin-left: 34px;
}

.heading-3-blog {
  color: $blue-light;
  font-weight: 400;
}

.col-sysconnect {
  margin-right: 66px;
}

.paragraph-blog-1 {
  margin: 21px 0;
}

.read-more {
  font-size: 12px;
  color: $blue-light;
  font-weight: 600;
  &:hover {
    color: $blue-dark;
    font-size: 13px;
    transition: 0.9s;
  }
}

a {
  .paragraph-blog-2 {
    padding-bottom: 16px;
    font-size: 13px;
  }
}

a:nth-of-type(1n + 2) {
  .paragraph-blog-2 {
    padding-top: 30px;
  }
}

.paragraph-sysconnect,
.paragraph-blog-2,
.paragraph-blog-1 {
  color: $gray-dark;
  &:hover {
    filter: brightness(0.1);
    transition: 0.9s;
  }
}
/*section-blog*/

/*media queries - home */
@media screen and (max-width: 1215px) {
  .section-hero {
    .content {
      .title-hero,
      .text-hero {
        padding-right: 300px;
      }
    }
  }
  .section-costumers {
    height: 250px;
  }
  .section-blog {
    img {
      width: 95%;
      .col-blog:nth-of-type(3) {
        margin-top: 66px;
      }
    }
  }
}

@media screen and (max-width: 1087px) {
  .section-hero {
    .content {
      .title-hero,
      .text-hero {
        padding-right: 200px;
      }
    }
  }
  .swiper-hero {
    height: 490px;
  }
  .section-costumers {
    h2 {
      font-size: 28px;
    }
  }
  .section-blog {
    img {
      width: 95%;
    }
    h2 {
      font-size: 28px;
    }
    .col-blog:nth-of-type(3) {
      margin-top: 56px;
    }
  }
}

@media screen and (max-width: 890px) {
  .section-hero {
    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      .title-hero {
        margin-top: 70px;
      }
      .text-hero {
        font-size: 20px;
      }
    }
  }

  .section-hero .content {
    .text,
    .title {
      padding-right: 0;
    }
    margin-left: 0;
    padding: 0 30px;
    .title-hero,
    .text-hero {
      text-align: center;
    }
  }
  .swiper-hero {
    .swiper-pagination {
      bottom: 15% !important;
    }
  }

  .section-costumers {
    margin-bottom: 20px;
  }

  .section-blog {
    margin-bottom: 55px;
    .col-blog:nth-of-type(3) {
      margin-left: 0;
      a {
        font-size: 14px;
      }
    }
  }
  .container-blog {
    align-items: center;
    flex-direction: column;
    text-align: center;

    .col-sysconnect,
    .col-blog {
      margin-right: 0;
      width: 500px;
    }

    .card-blog {
      img {
        width: 60%;
      }

      .paragraph-sysconnect,
      .paragraph-blog-1 {
        font-size: 16px;
      }
    }

    .col-blog {
      margin-top: 50px;
      a {
        font-size: 16px;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .section-hero {
    .content {
      .title-hero {
        font-size: 28px;
        margin-top: 40px;
      }

      .text-hero {
        font-size: 18px;
      }
      h1,
      p,
      a {
        margin-bottom: 40px;
      }
    }
  }

  .container-blog {
    .col-sysconnect,
    .col-blog {
      width: unset;
      img {
        width: 100%;
      }
    }

    .card-blog {
      .paragraph-sysconnect,
      .paragraph-blog-1,
      .paragraph-blog-2,
      .read-more {
        font-size: 14px;
      }
    }
  }
}
/*media queries - home */
