.section-info-card {
  padding: 60px 0;
  &.--quemSomos {
    background-color: #2a9efc12;
  }
  &.--contato {
    background-color: #023f75;
    background-image: url("../assets/img/geometric.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
  &.--blogIntegra {
    background-color: #2a9efc12;
  }
}

.container-card {
  display: flex;
  height: 100%;
}
.card {
  display: flex;
  border-radius: 40px;
  overflow: hidden;
  &.--contato {
    border-radius: 30px 0 0 30px;
    width: 100%;
  }
  h2 {
    &.--quemSomos {
      @include heading-2-extrabold();
    }
  }
  &.--blog {
    flex-direction: column;
  }
}
.info-card {
  flex-direction: column;
  padding: 60px 45px 60px;
  width: 40em;
  background-color: $white;
  line-height: 120%;
  &.--contato,
  &.--blog {
    width: 100%;
  }
}

.subtitle-card {
  @include heading-3-regular();
  text-align: left;
  &.--blogIntegra {
    color: #18303d;
    font-weight: 700;
    text-transform: none;
    letter-spacing: 1px;
    margin-top: 24px;
  }
}
.title-card {
  font-size: 25px;
  font-weight: 900;
  margin: 10px 0 40px 0;
  line-height: 110%;
}
.texto-card {
  ul {
    padding-left: 18px;
    li {
      font-size: 14px;
      line-height: 200%;
    }
    &.--blogIntegra {
      list-style-type: none;
      padding-left: 0;
      color: #18303d;
      margin-bottom: 24px;
    }
  }
  &.--blogIntegra {
    line-height: 200%;
  }
  &.--contato {
    display: flex;
    flex-direction: row;
  }
}
.paragraph-card {
  &.--quemSomos {
    font-weight: 500;
  }
  &.--servicosIntegra,
  &.--blog {
    line-height: 180%;
    font-weight: 400;
    margin-bottom: 24px;
    a {
      color: $blue-light-2;
    }
    a:hover {
      filter: brightness(0.7);
      transition: 0.3s;
    }
  }
  &.--blogIntegra {
    line-height: 180%;
    font-weight: 400;
    margin-top: 0;
  }
}

.paragraph-card:not(:nth-of-type(3)) {
  &.--quemSomos {
    margin-bottom: 24px;
  }
}

.paragraph-card:last-of-type {
  margin-bottom: 50px;
}

.photo-card {
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 29.3em;
  &.--quemSomos {
    background-image: url("../assets/img/bg-card_quem-somos.jpg");
  }
  &.--blog {
    width: 100%;
    height: 30rem;
  }
}

@media screen and (max-width: 1199px) {
  .card {
    width: 58em;
  }
  .info-card {
    width: 36em;
  }
  .photo-card {
    width: 22em;
    background-position-x: center;
  }
}

@media screen and (max-width: 990px) {
  .section-services {
    &.--servicosIntegra {
      padding-top: 60px;
    }
  }
  .section-info-card {
    &.--quemSomos,
    &.--servicosIntegra {
      padding: 0;
      margin: 0;
      .container {
        padding: 0;
      }
      .container-mobile-fluid {
        max-width: unset;
      }
    }
  }
  .info-card {
    padding: 30px 15px 30px;
    width: 100%;
  }
  .photo-card {
    background-position-y: center;
    height: 20em;
    width: 100%;
  }
  .container-card {
    justify-content: center;
  }
  .card {
    width: 100%;
    flex-direction: column;
    border-radius: 0%;
    .title-card {
      margin-bottom: 20px;
      font-size: 24px;
    }
  }
}
@media screen and (max-width: 767px) {
  &.--quemSomos,
  &.--servicosIntegra {
    .paragraph-card:last-of-type {
      margin-bottom: 30px;
    }
  }

  .photo-card {
    height: 18em;
  }
}
@media screen and (max-width: 500px) {
  .texto-card {
    h2 {
      line-height: 150%;
    }
    ul {
      padding-left: 18px;
      li {
        font-size: 14px;
        line-height: 160%;
      }
    }
  }
  .info-card,
  .subtitle-card {
    text-align: center;
  }
  .info-card,
  .subtitle-card {
    &.--contato {
      text-align: start;
    }
  }

  .section-services {
    &.--servicosIntegra {
      padding-top: 40px;
    }
  }
}
@media screen and (max-width: 376px) {
  .photo-card {
    height: 12em;
  }
  &.--quemSomos {
    .paragraph-card:nth-of-type(3) {
      margin-bottom: 20px;
    }
    .paragraph-card:not(:nth-of-type(3)) {
      margin-bottom: 16px;
    }
  }
  &.--servicosIntegra {
    .paragraph-card:last-child {
      margin-bottom: 16px;
    }
  }
}
