.section-statistic-data {
  padding: 60px 0;
  background-color: #2a9efc12;
}
.container-statistic-data {
  text-align: center;
  display: flex;
  flex-direction: column;
  h3 {
    margin-bottom: 10px;
  }
}
.statistic-data {
  display: flex;
  margin-top: 50px;
  &.--quemSomos {
    justify-content: space-between;
  }
  &.--contato {
    justify-content: space-evenly;
  }
}
.col-statistic-data {
  display: flex;
  &.--quemSomos {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  &.--contato {
    flex-direction: row;
    align-items: center;
    text-align: left;
    gap: 20px;
  }
  .statistic-paragraph:nth-of-type(1) {
    padding-top: 10px;
  }
  .statistic-description {
    &.--quemSomos {
      p {
        font-weight: 700;
      }
      &:hover {
        transform: scale(1.1);
        transition: 0.5s;
      }
    }
    &.--contato {
      gap: 20px;
      p:first-child {
        font-weight: 700;
      }
      a {
        color: $black;
        font-weight: 500;
        &:hover {
          color: $blue-light-2;
          filter: brightness(0.8);
          transition: 0.3s;
        }
      }
    }
  }
}
.statistic-data-number {
  &.--quemSomos {
    background: linear-gradient(90deg, #515aa4 0%, #25abcb 100%);
  }
  &.statistic-data-google {
    background: $white;
  }
  &.--contato {
    a {
      height: 40px;
      width: 40px;
    }
    img {
      max-width: 70px;
    }
    &.--whatsapp {
      background: linear-gradient(90deg, #26cb68 0%, #1d862e 100%);
    }
    &.--telephone {
      background: linear-gradient(90deg, #2664cb 0%, #1d5685 100%);
    }
    &.--email {
      background: linear-gradient(90deg, #26b6cb 0%, #0581ea 100%);
      a {
        height: 30px;
      }
    }
  }
  display: flex;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.22);
  p {
    font-size: 34px;
    font-weight: 700;
    color: $white;
    max-width: 160px;
  }
}
.statistic-data-google {
  background: $white;
  img {
    max-width: 70px;
  }
}

.border-statistic-data {
  &.--contato {
    width: 150px;
    height: 150px;
  }
  &.--quemSomos {
    width: 160px;
    height: 160px;
  }
  display: flex;
  align-items: center;
  justify-content: center;

  background: linear-gradient(
    90deg,
    rgba(81, 90, 164, 0.15) 0%,
    rgba(37, 171, 203, 0.15) 100%
  );
  border-radius: 50%;
  &:hover {
    background: linear-gradient(
      90deg,
      rgba(26, 48, 214, 0.268) 0%,
      rgba(10, 184, 228, 0.344) 100%
    );
    transition: 0.5s;
    transform: scale(1.1);
  }
}

@media screen and (max-width: 1205px) {
  .statistic-data {
    &.--contato {
      flex-wrap: wrap;
      justify-content: space-evenly;
      gap: 30px;
    }
  }
  .section-statistic-data {
    &.--contato {
      .container {
        max-width: 600px;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .statistic-data {
    &.--contato {
      flex-wrap: wrap;
      gap: 30px;
    }
  }
  .section-statistic-data {
    &.--contato {
      .container {
        max-width: 600px;
      }
    }
  }
}
/*statistic-data*/
.quem-somos {
  @media screen and (max-width: 990px) {
    .statistic-data {
      flex-wrap: wrap;
      p:nth-of-type(2) {
        margin-bottom: 30px;
      }
    }
  }

  @media screen and (max-width: 767px) {
    .statistic-data {
      &.--quemSomos {
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        p:nth-of-type(2) {
          margin-bottom: 30px;
        }
      }
    }
    .statistic-data-google {
      img {
        max-width: 60px;
      }
    }

    .statistic-data-number {
      width: 100px;
      height: 100px;
      p {
        font-size: 28px;
      }
    }

    .border-statistic-data {
      width: 150px;
      height: 150px;
    }
  }
  @media screen and (max-width: 500px) {
    .section-statistic-data {
      padding: 40px 0;
    }
    .statistic-data {
      p:nth-of-type(2) {
        margin-bottom: 0;
      }
    }
  }
  @media screen and (max-width: 376px) {
    .statistic-data {
      -ms-flex-wrap: wrap;
      flex-wrap: unset;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0;
    }
    .banner-cta {
      .text-banner-cta {
        max-width: 300px;
      }
    }
    .statistic-data {
      p:nth-of-type(2) {
        margin-bottom: 30px;
      }
    }
    .section-statistic-data {
      padding: 40px 0 10px 0;
    }
  }
  /*media queries*/
}

.quem-somos::before {
  content: url("../assets/img/bg-logo.png");
  position: absolute;
  z-index: -1;
  width: 200px;
  top: 700px;
  opacity: 0.2;
}
@media screen and (max-width: 1205px) {
  .col-statistic-data {
    display: flex;
    &.--contato {
      flex-direction: column;
      justify-content: center;
      text-align: center;
      gap: 5px;
    }
  }
}
@media screen and (max-width: 990px) {
  .quem-somos::before {
    content: url("");
  }
}
