.section-services {
  &.--servicosIntegra {
    .title-h2 {
      margin-bottom: 60px;
    }
  }
}
.grid {
  margin-top: 55px;
}
.main-servicos {
  background-color: #2a9efc12;
}
.main-servicos::before,
.main-servicos-integra::before,
.main-blog::before,
.main-blog-integra::before {
  content: url("../assets/img/bg-logo.png");
  position: absolute;
  z-index: -1;
  transform: scale(1);
  top: 500px;
  opacity: 0.2;
}

.main-servicos::after {
  position: absolute;
  content: url("../assets/img/bg-logo.png");
  z-index: -1;
  transform: scale(0.6);
  right: -80px;
  top: 1000px;
  opacity: 0.2;
}

.main-servicos {
  .container-fluid {
    width: 100%;
  }
}
@media screen and (max-width: 1000px) {
  .main-servicos::before,
  .main-servicos-integra::before,
  .main-blog::before,
  .main-blog-integra::before {
    content: "";
  }
  .main-servicos::after {
    content: "";
  }
}
@media screen and (max-width: 600px) {
  .main-servicos::after {
    top: 2500px;
  }
  .section-services {
    &.--servicosIntegra {
      padding-top: 30px;
      .title-h2 {
        margin-bottom: 40px;
      }
    }
  }
}
