/*section-services*/
.section-services {
  .container-services {
    display: flex;
    justify-content: center;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    .swiper {
      max-width: 1000px;
    }
    .swiper-services-button-prev,
    .swiper-services-button-next {
      &.--home {
        top: 30%;
      }
      &.--servicosIntegra {
        top: 60%;
      }
    }
    .swiper-slide {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  &.--servicosIntegra {
    .container-services {
      flex-direction: column;
      display: flex;
      .service-slider {
        display: flex;
        justify-content: center;
      }
    }
  }
}
.swiper-services {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1000px;
  &.--home {
    bottom: 70px;
  }
  &.--servicosIntegra {
    top: 0px;
  }
}

.swiper-slide img {
  display: block;
  height: 100%;
  object-fit: cover;
  max-width: 100px;
}
/*section-services*/
@media screen and (max-width: 1087px) {
  .section-services {
    .container-services {
      display: flex;
      justify-content: center;
      position: relative;
      max-width: 1000px;
      margin: 0 auto;
      .swiper {
        max-width: 800px;
      }
    }
  }
}

@media screen and (max-width: 890px) {
  .section-services {
    margin-bottom: 20px;
    .container-services {
      display: flex;
      justify-content: center;
      position: relative;
      max-width: 750px;
      margin: 0 auto;
      .swiper {
        max-width: 620px;
      }
    }
    .swiper-services {
      bottom: 50px;
    }
    .card-services {
      width: 300px;
      .card-content {
        text-align: center;
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .section-services {
    .container-services {
      max-width: 600px;
      .swiper {
        max-width: 500px;
      }
    }
  }
}
