/*home*/
@mixin heading-2() {
  font-size: 36px;
  color: #1e2d72;
  font-weight: 700;
  @content;
}

@mixin heading-3 {
  font-size: 20px;
  font-weight: 700;

  @content;
}

@mixin paragraph-1 {
  font-weight: 500;
  font-size: 14px;

  @content;
}
/*home*/

@mixin heading-3-regular {
  font-weight: 400;
  font-size: 16px;
  color: $blue-dark;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  text-align: center;
  @content;
}

@mixin heading-2-extrabold {
  color: $blue;
  font-weight: 900;
  text-transform: uppercase;
  @content;
}

@mixin heading-2-smaller {
  color: $blue;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  text-align: center;
  font-size: 26px;
  &:hover {
    transform: scale(1.05);
    transition: 0.7s;
  }
  @content;
}
