@charset "UTF-8";
/*home*/
/*home*/
.section-statistic-data {
  padding: 60px 0;
  background-color: #2a9efc12;
}

.container-statistic-data {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container-statistic-data h3 {
  margin-bottom: 10px;
}

.statistic-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}

.statistic-data.--quemSomos {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.statistic-data.--contato {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.col-statistic-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.col-statistic-data.--quemSomos {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.col-statistic-data.--contato {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  gap: 20px;
}

.col-statistic-data .statistic-paragraph:nth-of-type(1) {
  padding-top: 10px;
}

.col-statistic-data .statistic-description.--quemSomos p {
  font-weight: 700;
}

.col-statistic-data .statistic-description.--quemSomos:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.col-statistic-data .statistic-description.--contato {
  gap: 20px;
}

.col-statistic-data .statistic-description.--contato p:first-child {
  font-weight: 700;
}

.col-statistic-data .statistic-description.--contato a {
  color: #000000;
  font-weight: 500;
}

.col-statistic-data .statistic-description.--contato a:hover {
  color: #1caaec;
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.statistic-data-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.22);
          box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.22);
}

.statistic-data-number.--quemSomos {
  background: -webkit-gradient(linear, left top, right top, from(#515aa4), to(#25abcb));
  background: linear-gradient(90deg, #515aa4 0%, #25abcb 100%);
}

.statistic-data-number.statistic-data-google {
  background: #ffffff;
}

.statistic-data-number.--contato a {
  height: 40px;
  width: 40px;
}

.statistic-data-number.--contato img {
  max-width: 70px;
}

.statistic-data-number.--contato.--whatsapp {
  background: -webkit-gradient(linear, left top, right top, from(#26cb68), to(#1d862e));
  background: linear-gradient(90deg, #26cb68 0%, #1d862e 100%);
}

.statistic-data-number.--contato.--telephone {
  background: -webkit-gradient(linear, left top, right top, from(#2664cb), to(#1d5685));
  background: linear-gradient(90deg, #2664cb 0%, #1d5685 100%);
}

.statistic-data-number.--contato.--email {
  background: -webkit-gradient(linear, left top, right top, from(#26b6cb), to(#0581ea));
  background: linear-gradient(90deg, #26b6cb 0%, #0581ea 100%);
}

.statistic-data-number.--contato.--email a {
  height: 30px;
}

.statistic-data-number p {
  font-size: 34px;
  font-weight: 700;
  color: #ffffff;
  max-width: 160px;
}

.statistic-data-google {
  background: #ffffff;
}

.statistic-data-google img {
  max-width: 70px;
}

.border-statistic-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left top, right top, from(rgba(81, 90, 164, 0.15)), to(rgba(37, 171, 203, 0.15)));
  background: linear-gradient(90deg, rgba(81, 90, 164, 0.15) 0%, rgba(37, 171, 203, 0.15) 100%);
  border-radius: 50%;
}

.border-statistic-data.--contato {
  width: 150px;
  height: 150px;
}

.border-statistic-data.--quemSomos {
  width: 160px;
  height: 160px;
}

.border-statistic-data:hover {
  background: -webkit-gradient(linear, left top, right top, from(rgba(26, 48, 214, 0.268)), to(rgba(10, 184, 228, 0.344)));
  background: linear-gradient(90deg, rgba(26, 48, 214, 0.268) 0%, rgba(10, 184, 228, 0.344) 100%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media screen and (max-width: 1205px) {
  .statistic-data.--contato {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    gap: 30px;
  }
  .section-statistic-data.--contato .container {
    max-width: 600px;
  }
}

@media screen and (max-width: 400px) {
  .statistic-data.--contato {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
  .section-statistic-data.--contato .container {
    max-width: 600px;
  }
}

/*statistic-data*/
.quem-somos {
  /*media queries*/
}

@media screen and (max-width: 990px) {
  .quem-somos .statistic-data {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .quem-somos .statistic-data p:nth-of-type(2) {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .quem-somos .statistic-data.--quemSomos {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px;
  }
  .quem-somos .statistic-data.--quemSomos p:nth-of-type(2) {
    margin-bottom: 30px;
  }
  .quem-somos .statistic-data-google img {
    max-width: 60px;
  }
  .quem-somos .statistic-data-number {
    width: 100px;
    height: 100px;
  }
  .quem-somos .statistic-data-number p {
    font-size: 28px;
  }
  .quem-somos .border-statistic-data {
    width: 150px;
    height: 150px;
  }
}

@media screen and (max-width: 500px) {
  .quem-somos .section-statistic-data {
    padding: 40px 0;
  }
  .quem-somos .statistic-data p:nth-of-type(2) {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 376px) {
  .quem-somos .statistic-data {
    -ms-flex-wrap: wrap;
    flex-wrap: unset;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0;
  }
  .quem-somos .banner-cta .text-banner-cta {
    max-width: 300px;
  }
  .quem-somos .statistic-data p:nth-of-type(2) {
    margin-bottom: 30px;
  }
  .quem-somos .section-statistic-data {
    padding: 40px 0 10px 0;
  }
}

.quem-somos::before {
  content: url("../assets/img/bg-logo.png");
  position: absolute;
  z-index: -1;
  width: 200px;
  top: 700px;
  opacity: 0.2;
}

@media screen and (max-width: 1205px) {
  .col-statistic-data {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .col-statistic-data.--contato {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    gap: 5px;
  }
}

@media screen and (max-width: 990px) {
  .quem-somos::before {
    content: url("");
  }
}

.section-services.--servicosIntegra .title-h2 {
  margin-bottom: 60px;
}

.grid {
  margin-top: 55px;
}

.main-servicos {
  background-color: #2a9efc12;
}

.main-servicos::before,
.main-servicos-integra::before,
.main-blog::before,
.main-blog-integra::before {
  content: url("../assets/img/bg-logo.png");
  position: absolute;
  z-index: -1;
  -webkit-transform: scale(1);
          transform: scale(1);
  top: 500px;
  opacity: 0.2;
}

.main-servicos::after {
  position: absolute;
  content: url("../assets/img/bg-logo.png");
  z-index: -1;
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
  right: -80px;
  top: 1000px;
  opacity: 0.2;
}

.main-servicos .container-fluid {
  width: 100%;
}

@media screen and (max-width: 1000px) {
  .main-servicos::before,
  .main-servicos-integra::before,
  .main-blog::before,
  .main-blog-integra::before {
    content: "";
  }
  .main-servicos::after {
    content: "";
  }
}

@media screen and (max-width: 600px) {
  .main-servicos::after {
    top: 2500px;
  }
  .section-services.--servicosIntegra {
    padding-top: 30px;
  }
  .section-services.--servicosIntegra .title-h2 {
    margin-bottom: 40px;
  }
}

/*banner*/
.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-repeat: no-repeat;
  z-index: 1;
  text-transform: uppercase;
  position: relative;
  background-position-x: center;
  background-size: cover;
  text-align: center;
  margin-bottom: 0px;
  background-blend-mode: multiply;
}

.banner h1 {
  padding: 10px;
  font-size: 38px;
}

.banner h1,
.banner h2 {
  color: #ffffff;
  position: relative;
}

.banner h2 {
  font-size: 30px;
}

.banner h2:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.banner h1::after {
  height: 3px;
  width: 56px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  content: "";
  bottom: 0;
  position: absolute;
  background-color: #1caaec;
}

.banner .text-banner-cta {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}

.banner .text-banner-cta .--quemSomos {
  width: 400px;
}

.banner .text-banner-cta .--servicos {
  max-width: 620px;
}

.banner .text-banner-cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}

.banner .container-banner-hero {
  width: 100%;
}

.banner.banner-hero {
  height: 15em;
}

.banner.banner-hero.--quemSomos {
  background-image: url("../assets/img/banner-hero_quem-somos.jpg");
}

.banner.banner-hero.--servicos {
  background-image: url("../assets/img/banner-hero_servicos.jpg");
}

.banner.banner-hero.--suporteManutencao {
  background-image: url("../assets/img/banner-hero_suporte-e-manutencao.jpg");
  background-position-y: -620px;
}

.banner.banner-hero.--contato {
  background-image: url("../assets/img/banner-hero_contato.png");
}

.banner.banner-hero.--blog {
  background-image: url("../assets/img/banner-hero_blog.png");
}

.banner.banner-hero.--blogIntegra h1 {
  font-size: 32px;
}

.banner.banner-cta {
  height: 20em;
  background-color: #26aecd;
}

.banner.banner-cta.--quemSomos, .banner.banner-cta.--servicosIntegra {
  background-image: url("../assets/img/banner-cta_quem-somos.jpg");
}

.banner.banner-cta.--servicos {
  background-image: url("../assets/img/banner-cta_servicos.jpg");
}

.banner.banner-cta.--servicos::after, .banner.banner-cta.--blog::after, .banner.banner-cta.--servicosIntegra::after {
  opacity: 0.7;
  background-color: #1d90aa;
}

.banner.banner-cta.--servicosIntegra {
  margin-top: 60px;
  background-image: url("../assets/img/banner-cta_servicos-integra.png");
}

.banner.banner-cta.--blog {
  background-image: url("../assets/img/banner-cta_blog.png");
}

.banner.banner-cta::after, .banner.banner-hero::after {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.banner.banner-hero::after {
  opacity: 0.7;
  background-color: #292929;
}

.banner.banner-cta::after {
  opacity: 0.1;
  background-color: #26aecd;
}

@media screen and (max-width: 730px) {
  .banner.banner-hero.--blogIntegra h1 {
    font-size: 28px;
  }
}

@media screen and (max-width: 600px) {
  .banner.banner-hero {
    height: 18em;
  }
  .banner .title-h2-banner {
    font-size: 28px;
    max-width: 390px;
  }
  .banner.banner-cta {
    height: 18em;
  }
  .banner.banner-cta.--servicosIntegra {
    margin-top: 0;
  }
  .banner h1.--servicosIntegra {
    font-size: 30px;
  }
  .banner.banner-hero.--blogIntegra h1 {
    font-size: 22px;
  }
  .banner.--blogIntegra h1 {
    font-size: 28px;
  }
}

@media screen and (max-width: 400px) {
  .banner .title-h2-banner {
    font-size: 23px;
    max-width: 300px;
  }
}

/*banner*/
.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  height: 68px;
  width: 270px;
  font-size: 14px;
  text-transform: uppercase;
  border: none;
  border-radius: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn.btn-card {
  background: -webkit-gradient(linear, left top, right top, from(#1d2d71), to(#01558b));
  background: linear-gradient(90deg, #1d2d71 0%, #01558b 100%);
  color: #ffffff;
}

.btn.btn-card:hover {
  -webkit-filter: brightness(1.6);
          filter: brightness(1.6);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn.btn-cta {
  background: #ffffff;
  width: 320px;
  color: #26adcd;
  margin-top: 30px;
}

.btn.btn-cta:hover {
  color: #ffffff;
  background: #024075;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.btn.btn-hero {
  height: 50px;
  width: 180px;
  font-size: 23px;
  color: #02568c;
  background-color: #ffffff;
  border-radius: 0%;
  text-transform: none;
}

.btn.btn-hero:hover {
  background-color: #02568c;
  color: #ffffff;
}

.btn.btn-submit {
  width: 180px;
  background: #19303e;
  color: #ffffff;
}

.btn.btn-submit:hover {
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: #02568c;
}

@media screen and (max-width: 890px) {
  .btn-hero {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 600px) {
  .btn {
    max-width: 270px;
  }
  .btn-hero {
    height: 40px;
  }
  .btn-cta,
  .btn-hero {
    font-size: 12px;
    width: 120px;
  }
  .btn-cta {
    height: 60px;
  }
}

header {
  border-bottom: 5px solid #92c1de;
}

.menu-top {
  height: 40px;
  background-color: #1d2d71;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 5px 108px;
  gap: 10px;
}

.menu-top li {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-top img {
  width: 24px;
  height: 24px;
  -webkit-filter: brightness(1000%);
          filter: brightness(1000%);
}

.menu-top img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-filter: brightness(500%);
          filter: brightness(500%);
}

#btn-mobile {
  display: none;
}

.menu {
  height: 74px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ffffff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 108px;
}

.menu .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu .logo .logo-txt {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 40px;
  margin-left: 10px;
}

.menu .menu-link {
  list-style: none;
  height: 40px;
  display: inline;
  padding-left: 36px;
  font-weight: 600;
}

.menu .menu-link a {
  color: #626262;
}

.menu .menu-link a:hover {
  color: #1caaec;
}

@media screen and (max-width: 1215px) {
  .menu-list {
    font-size: 90%;
  }
}

@media screen and (max-width: 1087px) {
  .menu .menu-link {
    padding-left: 0;
  }
  .menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    width: 100%;
    top: 7rem;
    right: 0;
    background-color: #ffffff;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
    z-index: 1000;
    height: 0;
    visibility: hidden;
    overflow-y: hidden;
  }
  .menu.active .menu-list {
    height: 12rem;
    visibility: visible;
    overflow-y: auto;
  }
  .menu-list a {
    padding: 1rem 0;
    margin: 0 1rem;
  }
  #btn-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background: none;
    border: none;
    cursor: pointer;
    gap: 1.5rem;
  }
  #hamburguer {
    border-top: 2px solid #02568c;
    width: 20px;
  }
  #hamburguer::before,
  #hamburguer::after {
    content: "";
    display: block;
    position: relative;
    width: 20px;
    height: 2px;
    margin-top: 5px;
    border-top: 5px;
    background-color: #02568c;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
  }
  .menu.active #hamburguer {
    border-top: transparent;
  }
  .menu.active #hamburguer::before {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  .menu.active #hamburguer::after {
    -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
    top: -7px;
  }
}

@media screen and (max-width: 890px) {
  .menu,
  .menu-top {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  .menu {
    padding: 0 20px;
  }
  .logo .logo-img {
    width: 50px;
    height: 50px;
  }
}

/*footer*/
footer {
  background-color: #0b4560;
  background-image: url("../assets/img/logo-footer-.png");
  background-repeat: no-repeat;
  background-position-x: 105px;
}

.container-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 46px;
}

.footer-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.footer-col-1,
.footer-col-2,
.footer-col-3 {
  margin-top: 61px;
}

.footer-item {
  list-style-type: none;
  margin-bottom: 15px;
  font-size: 14px;
}

.footer-item a {
  color: white;
}

.large {
  font-weight: 700;
  margin-bottom: 20px;
  font-size: 18px;
  color: #92c1de;
}

.large a {
  color: #92c1de;
}

.footer-col-2 {
  margin-left: 150px;
}

.footer-col-3 img,
.footer-col-3 p:nth-of-type(1) {
  margin-bottom: 40px;
}

.social-media-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.social-media-footer li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-media-footer li:hover {
  -webkit-filter: brightness(1.3);
          filter: brightness(1.3);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.social-media-footer li img {
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
}

.social-media-footer li img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.footer-contact-title {
  font-size: 20px;
  color: #92c1de;
  margin-bottom: 10px;
}

.footer-contact-title:not(:nth-of-type(1)) {
  margin-top: 20px;
}

.footer-contact-anchor {
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
}

.footer-contact-anchor:hover,
.footer-item:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #1caaec;
}

.footer-contact-anchor a:hover,
.footer-item a:hover {
  color: #1caaec;
}

.copyright-footer {
  height: 60px;
  background-color: rgba(0, 0, 0, 0.323);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.copyright-footer p {
  color: #92c1de;
}

.copyright-footer .teste {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.copyright-footer .copyright-footer-kbrtec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.copyright-footer .copyright-footer-kbrtec img {
  margin-left: 10px;
}

.copyright-footer .copyright-footer-kbrtec img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (max-width: 1215px) {
  .footer-col-3 {
    padding-right: 15px;
  }
}

@media screen and (max-width: 1087px) {
  footer .footer-col-2 {
    margin-left: 50px;
  }
  footer .footer-col-3 .footer-contact-title {
    font-size: 18px;
  }
  footer .footer-col-3 .footer-contact-anchor {
    font-size: 14px;
  }
}

@media screen and (max-width: 890px) {
  footer .footer-col-1,
  footer .footer-col-2 {
    margin-top: 55px;
  }
  footer .footer-col-3 {
    padding-right: 0;
  }
  footer .footer-col-2 {
    margin-left: 0px;
    padding-left: 100px;
  }
  footer .copyright-footer {
    padding-left: 0;
    height: 70px;
  }
  footer .copyright-footer .container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .copyright-footer .teste {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .copyright-footer .teste p {
    padding: 5px 0;
  }
  .footer-col-3 {
    margin-top: 20px;
  }
  .container-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .social-media-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .social-media-footer .social-media-icon-footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  footer .footer-col-2 {
    padding-left: 25px;
  }
}

/*card serviços*/
.section-card {
  padding: 60px 0;
}

.container-services .card-services:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  row-gap: 18px;
  -webkit-column-gap: 18px;
          column-gap: 18px;
}

.cell {
  width: 100%;
}

.cell:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.card-content {
  padding: 20px;
  background-color: #1caaec;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card-content.--servicos {
  min-height: 168px;
  padding: 18px;
}

.card-content.--home {
  height: 188px;
  padding: 22px;
}

.card-content.--home h3:hover,
.card-content.--home a:hover, .card-content.--servicos h3:hover,
.card-content.--servicos a:hover {
  color: #1d2d71;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.card-content p {
  margin: 18px 0;
  font-weight: 400;
  font-size: 14px;
}

.card-content a {
  color: #ffffff;
  font-size: 13.5px;
}

.card-image {
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 9rem;
}

.card-image-1 {
  background-image: url("../assets/img/img-card-1.png");
}

.card-image-2 {
  background-image: url("../assets/img/img-card-2.png");
}

.card-image-3 {
  background-image: url("../assets/img/img-card-3.png");
}

.card-image-4 {
  background-image: url("../assets/img/img-card-4.png");
}

.card-image-5 {
  background-image: url("../assets/img/img-card-5.png");
}

.card-image-6 {
  background-image: url("../assets/img/img-card-6.png");
}

.card-image-7 {
  background-image: url("../assets/img/img-card-7.png");
}

.card-image-8 {
  background-image: url("../assets/img/img-card-8.png");
}

.card-image-9 {
  background-image: url("../assets/img/img-card-9.png");
}

@media screen and (max-width: 1200px) {
  .card-content.--servicos, .card-content.--servicosIntegra {
    min-height: 188px;
  }
}

@media screen and (max-width: 1053px) {
  .grid {
    gap: 20px;
  }
}

@media screen and (max-width: 991px) {
  .grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .service-slider .card-content.--servicosIntegra {
    min-height: 208px;
  }
}

@media screen and (max-width: 768px) {
  .section-card.--servicos {
    padding: 30px 0 30px 0;
  }
  .section-card.--servicos .container {
    max-width: unset;
  }
}

@media screen and (max-width: 768px) and (max-width: 603px) {
  .grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cell {
    width: 322px;
  }
}

@media screen and (max-width: 768px) and (max-width: 340px) {
  .cell {
    width: 300px;
  }
  .card-services {
    max-width: 250px;
  }
  .card-services p {
    font-size: 13.5px;
    line-height: 125%;
  }
  .card-content.--home {
    height: 210px;
    padding: 20px;
  }
  .card-content.--servicos {
    padding: 16px;
    font-size: 13px;
  }
}

.breadcrumb {
  width: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
  font-size: 13px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-transform: uppercase;
  padding-left: 108px;
}

.breadcrumb a {
  color: #ffffff;
}

.breadcrumb ul {
  margin-top: -70px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.breadcrumb ul li {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.breadcrumb ul li:not(:nth-of-type(1)) {
  list-style-type: disc;
}

.breadcrumb ul .breadcrumb-active:hover {
  text-decoration: underline !important;
  -webkit-text-decoration-style: solid #ffffff;
          text-decoration-style: solid #ffffff;
}

.breadcrumb.--blogIntegra ul {
  margin-top: -55px;
}

@media screen and (max-width: 1015px) {
  .breadcrumb.--blogIntegra ul {
    margin-top: -45px;
  }
}

@media screen and (max-width: 890px) {
  .breadcrumb {
    padding-left: unset;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .breadcrumb ul {
    margin-top: -120px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .breadcrumb.--blogIntegra ul {
    margin-top: -45px;
  }
}

@media screen and (max-width: 573px) {
  .breadcrumb {
    padding-left: unset;
    position: relative;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .breadcrumb ul {
    margin-top: -80px;
  }
}

.section-info-card {
  padding: 60px 0;
}

.section-info-card.--quemSomos {
  background-color: #2a9efc12;
}

.section-info-card.--contato {
  background-color: #023f75;
  background-image: url("../assets/img/geometric.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.section-info-card.--blogIntegra {
  background-color: #2a9efc12;
}

.container-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 40px;
  overflow: hidden;
}

.card.--contato {
  border-radius: 30px 0 0 30px;
  width: 100%;
}

.card h2.--quemSomos {
  color: #02568c;
  font-weight: 900;
  text-transform: uppercase;
}

.card.--blog {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info-card {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 60px 45px 60px;
  width: 40em;
  background-color: #ffffff;
  line-height: 120%;
}

.info-card.--contato, .info-card.--blog {
  width: 100%;
}

.subtitle-card {
  font-weight: 400;
  font-size: 16px;
  color: #1d2d71;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  text-align: center;
  text-align: left;
}

.subtitle-card.--blogIntegra {
  color: #18303d;
  font-weight: 700;
  text-transform: none;
  letter-spacing: 1px;
  margin-top: 24px;
}

.title-card {
  font-size: 25px;
  font-weight: 900;
  margin: 10px 0 40px 0;
  line-height: 110%;
}

.texto-card ul {
  padding-left: 18px;
}

.texto-card ul li {
  font-size: 14px;
  line-height: 200%;
}

.texto-card ul.--blogIntegra {
  list-style-type: none;
  padding-left: 0;
  color: #18303d;
  margin-bottom: 24px;
}

.texto-card.--blogIntegra {
  line-height: 200%;
}

.texto-card.--contato {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.paragraph-card.--quemSomos {
  font-weight: 500;
}

.paragraph-card.--servicosIntegra, .paragraph-card.--blog {
  line-height: 180%;
  font-weight: 400;
  margin-bottom: 24px;
}

.paragraph-card.--servicosIntegra a, .paragraph-card.--blog a {
  color: #1caaec;
}

.paragraph-card.--servicosIntegra a:hover, .paragraph-card.--blog a:hover {
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.paragraph-card.--blogIntegra {
  line-height: 180%;
  font-weight: 400;
  margin-top: 0;
}

.paragraph-card:not(:nth-of-type(3)).--quemSomos {
  margin-bottom: 24px;
}

.paragraph-card:last-of-type {
  margin-bottom: 50px;
}

.photo-card {
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 29.3em;
}

.photo-card.--quemSomos {
  background-image: url("../assets/img/bg-card_quem-somos.jpg");
}

.photo-card.--blog {
  width: 100%;
  height: 30rem;
}

@media screen and (max-width: 1199px) {
  .card {
    width: 58em;
  }
  .info-card {
    width: 36em;
  }
  .photo-card {
    width: 22em;
    background-position-x: center;
  }
}

@media screen and (max-width: 990px) {
  .section-services.--servicosIntegra {
    padding-top: 60px;
  }
  .section-info-card.--quemSomos, .section-info-card.--servicosIntegra {
    padding: 0;
    margin: 0;
  }
  .section-info-card.--quemSomos .container, .section-info-card.--servicosIntegra .container {
    padding: 0;
  }
  .section-info-card.--quemSomos .container-mobile-fluid, .section-info-card.--servicosIntegra .container-mobile-fluid {
    max-width: unset;
  }
  .info-card {
    padding: 30px 15px 30px;
    width: 100%;
  }
  .photo-card {
    background-position-y: center;
    height: 20em;
    width: 100%;
  }
  .container-card {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .card {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-radius: 0%;
  }
  .card .title-card {
    margin-bottom: 20px;
    font-size: 24px;
  }
}

@media screen and (max-width: 767px) {
  .--quemSomos .paragraph-card:last-of-type,
  .--servicosIntegra .paragraph-card:last-of-type {
    margin-bottom: 30px;
  }
  .photo-card {
    height: 18em;
  }
}

@media screen and (max-width: 500px) {
  .texto-card h2 {
    line-height: 150%;
  }
  .texto-card ul {
    padding-left: 18px;
  }
  .texto-card ul li {
    font-size: 14px;
    line-height: 160%;
  }
  .info-card,
  .subtitle-card {
    text-align: center;
  }
  .info-card.--contato,
  .subtitle-card.--contato {
    text-align: start;
  }
  .section-services.--servicosIntegra {
    padding-top: 40px;
  }
}

@media screen and (max-width: 376px) {
  .photo-card {
    height: 12em;
  }
  .--quemSomos .paragraph-card:nth-of-type(3) {
    margin-bottom: 20px;
  }
  .--quemSomos .paragraph-card:not(:nth-of-type(3)) {
    margin-bottom: 16px;
  }
  .--servicosIntegra .paragraph-card:last-child {
    margin-bottom: 16px;
  }
}

/*section-info-card*/
form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.contact-text {
  padding-left: 60px;
  padding-right: 135px;
}

.contact-text .title-contato {
  font-size: 40px;
  text-transform: capitalize;
  position: relative;
  margin-top: 20px;
}

.contact-text h2,
.contact-text p {
  color: #ffffff;
  width: 230px;
  z-index: 1;
  position: relative;
  margin-left: 60px;
}

.contact-text p {
  font-size: 18px;
  margin-top: 58px;
  font-weight: 400;
  line-height: 170%;
}

.contact-text .title-contato::after {
  height: 4px;
  width: 40px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  text-align: left;
  content: "";
  bottom: 0;
  position: absolute;
  margin-bottom: -20px;
  background-color: #ffffff;
}

.quadrado-fale-conosco {
  position: absolute;
  width: 155px;
  height: 155px;
  border-radius: 10px;
  background: -webkit-gradient(linear, left top, right top, from(#12297c), to(#0da6df));
  background: linear-gradient(90deg, #12297c 0%, #0da6df 100%);
  z-index: 1;
  pointer-events: all;
}

.quadrado-fale-conosco:hover {
  -webkit-transform: scaleX(1.2);
          transform: scaleX(1.2);
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.quadrado-fale-conosco a {
  color: #000000;
}

label {
  font-weight: 500;
  font-size: 15px;
  display: block;
}

input {
  height: 40px;
}

input,
textarea {
  margin-bottom: 20px;
  margin-top: 10px;
  padding-left: 10px;
  font-family: "Montserrat", sans-serif !important;
  border-radius: 5px;
  border: none;
  border: 1px solid #d5d5d5;
}

input:focus,
textarea:focus {
  outline: 1px solid #1caaec !important;
  -webkit-box-shadow: 0 0 0.4em #1caaec;
          box-shadow: 0 0 0.4em #1caaec;
}

textarea {
  padding-top: 10px;
  resize: none;
}

.tel-area,
.mail-area,
#nome,
#assunto,
#mensagem,
#email,
#telefone {
  width: 100%;
}

#mensagem {
  height: 90px;
}

.row-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
}

#form-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card-form-action-message {
  width: 60%;
  background: #ffffff;
  border-radius: 10px;
  padding: 30px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.form-action-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.form-action-message img {
  width: 75px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 20px;
}

.form-action-message span {
  font-weight: 700;
}

.form-action-message p {
  font-size: 18px;
  line-height: 150%;
}

.form-action-message .btn {
  margin-top: 20px;
  width: 230px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*section-info-card*/
/*section-contact-location*/
.section-contact-location {
  padding-top: 60px;
}

.section-contact-location h2 {
  margin-bottom: 50px;
}

.maps {
  position: relative;
  z-index: -1;
  pointer-events: none;
}

.retangulo-mapa {
  position: absolute;
  width: 400px;
  height: 180px;
  background-color: #ffffff;
  z-index: 1;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 6px 6px 28px 5px rgba(0, 0, 0, 0.07);
          box-shadow: 6px 6px 28px 5px rgba(0, 0, 0, 0.07);
}

.retangulo-mapa:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.retangulo-mapa img {
  height: 85px;
  width: 60px;
}

.mapa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.mapa h3,
.mapa address {
  text-align: left;
  font-style: normal;
  font-size: 14px;
}

.mapa address {
  color: #000000;
}

.mapa h3 {
  color: #02568c;
}

.texto-mapa h3 {
  font-weight: 700;
  font-size: 22px;
}

/*section-contact-location*/
@media screen and (max-width: 1000px) {
  .main-contato .container-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-contato .contact-text {
    padding: 0 0 30px 0;
  }
  .main-contato .container-card {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-contato .card.--contato {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-radius: 0%;
  }
}

@media screen and (max-width: 768px) {
  .row-contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
  }
  .section-contact-location {
    padding-top: 20px;
  }
  .retangulo-mapa {
    width: 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .retangulo-mapa img {
    width: 30px;
    height: 42px;
  }
  .mapa h3,
  .mapa address {
    text-align: center;
  }
  .mapa h3 {
    font-size: 18px;
  }
  .mapa address {
    font-size: 13.5px;
  }
}

@media screen and (max-width: 680px) {
  .card-form-action-message {
    width: 85%;
    padding: 20px;
  }
  .form-action-message img {
    width: 60px;
  }
  .form-action-message p {
    font-size: 16px;
  }
  .form-action-message .btn {
    width: 180px;
    font-size: 13px;
  }
}

@media screen and (max-width: 490px) {
  .retangulo-mapa {
    width: 75%;
  }
}

.subtitle-h3 {
  margin-bottom: 15px;
}

.container-card-blog {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.title-h2.--blog {
  margin-bottom: 60px;
}

.section-card-blog {
  padding: 60px 0;
}

.section-card-blog.--blog {
  background-color: #2a9efc12;
}

.section-card-blog.--blogIntegra {
  background-color: #ffffff;
}

.cards-post-blog {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  row-gap: 30px;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  width: 100%;
}

.cards-post-blog.cards-other-posts {
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  margin-top: 50px;
}

.card-post-blog {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 5px;
  overflow: hidden;
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.123);
          box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.123);
}

.card-post-blog:hover {
  outline: 5px solid #1caaec;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.card-content.--blog {
  background-color: #ffffff;
  height: 220px;
  color: #000000;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 20px 40px;
  position: relative;
}

.card-content.--blog .h3-anchor {
  color: #000000;
  font-size: 19px;
}

.card-content.--blog .title-post-integra {
  color: #000000;
  font-size: 15px;
}

.card-content.--blog .anchor-blog {
  color: #1caaec;
  position: absolute;
  right: 5%;
  bottom: 10%;
}

.card-content.--blog .anchor-blog:hover {
  color: #1d2d71;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.card-content.--blog p {
  font-size: 12px;
  color: #626262;
  margin: 18px 0;
}

.card-content.--blogIntegra {
  padding: 15px 30px;
}

.card-content.--blogIntegra p {
  margin: 14px 0;
}

.card-img {
  height: 326px;
  width: 100%;
  background-repeat: no-repeat;
}

.integra-share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.integra-share h4 {
  margin-right: 8px;
}

.integra-share-img {
  width: 25px;
}

@media screen and (max-width: 991px) {
  .card-img {
    height: 250px;
  }
  .card-content.--blog {
    padding: 10px 20px;
  }
  .card-content.--blog h3 {
    font-size: 16.5px;
  }
  .card-content.--blog p {
    margin: 10px 0;
  }
}

@media screen and (max-width: 670px) {
  .card-content.--blog {
    height: 200px;
  }
  .card-content.--blog .h3-anchor {
    font-size: 16px;
  }
  .card-content.--blog .title-post-integra {
    color: #000000;
    font-size: 13px;
  }
  .card-img {
    background-position-x: center;
  }
}

@media screen and (max-width: 600px) {
  .integra-share {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .cards-post-blog {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .card-post-blog {
    width: 95%;
  }
  .card-img {
    background-position-x: center;
    height: 200px;
  }
  .card-img.--blog.card-img-1 {
    background-position-y: center;
  }
  .card-content.--blog {
    height: 180px;
  }
}

@media screen and (max-width: 768px) {
  .section-card-blog .container {
    max-width: unset;
  }
}

.section-costumers,
.section-blog {
  margin-bottom: 75px;
}

.section-services .swiper-button-next,
.section-services .swiper-button-prev,
.section-costumers .swiper-button-next,
.section-costumers .swiper-button-prev {
  color: #c0c0c0;
  font-weight: 700;
}

h1.--home {
  font-size: 38px;
  font-weight: 700;
}

h2 {
  font-size: 36px;
  color: #1e2d72;
  font-weight: 700;
}

h3 {
  font-size: 20px;
  font-weight: 700;
}

p {
  font-weight: 500;
  font-size: 14px;
}

/*section-hero*/
.section-hero .content {
  margin-left: 108px;
  color: #ffffff;
}

.section-hero .content .text-hero {
  padding-right: 600px;
  font-size: 20px;
}

.section-hero .content .title-hero {
  padding-right: 600px;
  margin-top: 90px;
}

.section-hero .content h1,
.section-hero .content p {
  margin-bottom: 42px;
}

.swiper-hero {
  height: 516px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: hidden;
}

.swiper-hero .swiper-pagination {
  bottom: 20% !important;
}

.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
  height: 15px !important;
  width: 15px !important;
}

.background-slide-hero {
  background-size: cover;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.background-hero-1 {
  background-image: url("../assets/img/banner-hero.png");
  background-size: cover;
}

/*section-hero*/
/*a section-services está em um arquivo separado*/
/*section-costumers*/
.title-costumers {
  text-align: center;
  margin-bottom: 50px;
}

.container-costumers {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.container-costumers .swiper {
  max-width: 1000px;
}

.container-costumers .swiper .swiper-wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-costumers .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-costumers .card-costumers:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/*section-costumers*/
/*section-blog*/
.container-blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.col-sysconnect img,
.col-blog img {
  margin: 24px 0;
  width: 370px;
}

.col-blog:nth-of-type(3) {
  margin-top: 72px;
  margin-left: 34px;
}

.heading-3-blog {
  color: #92c1de;
  font-weight: 400;
}

.col-sysconnect {
  margin-right: 66px;
}

.paragraph-blog-1 {
  margin: 21px 0;
}

.read-more {
  font-size: 12px;
  color: #92c1de;
  font-weight: 600;
}

.read-more:hover {
  color: #1d2d71;
  font-size: 13px;
  -webkit-transition: 0.9s;
  transition: 0.9s;
}

a .paragraph-blog-2 {
  padding-bottom: 16px;
  font-size: 13px;
}

a:nth-of-type(1n + 2) .paragraph-blog-2 {
  padding-top: 30px;
}

.paragraph-sysconnect,
.paragraph-blog-2,
.paragraph-blog-1 {
  color: #373737;
}

.paragraph-sysconnect:hover,
.paragraph-blog-2:hover,
.paragraph-blog-1:hover {
  -webkit-filter: brightness(0.1);
          filter: brightness(0.1);
  -webkit-transition: 0.9s;
  transition: 0.9s;
}

/*section-blog*/
/*media queries - home */
@media screen and (max-width: 1215px) {
  .section-hero .content .title-hero,
  .section-hero .content .text-hero {
    padding-right: 300px;
  }
  .section-costumers {
    height: 250px;
  }
  .section-blog img {
    width: 95%;
  }
  .section-blog img .col-blog:nth-of-type(3) {
    margin-top: 66px;
  }
}

@media screen and (max-width: 1087px) {
  .section-hero .content .title-hero,
  .section-hero .content .text-hero {
    padding-right: 200px;
  }
  .swiper-hero {
    height: 490px;
  }
  .section-costumers h2 {
    font-size: 28px;
  }
  .section-blog img {
    width: 95%;
  }
  .section-blog h2 {
    font-size: 28px;
  }
  .section-blog .col-blog:nth-of-type(3) {
    margin-top: 56px;
  }
}

@media screen and (max-width: 890px) {
  .section-hero .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section-hero .content .title-hero {
    margin-top: 70px;
  }
  .section-hero .content .text-hero {
    font-size: 20px;
  }
  .section-hero .content {
    margin-left: 0;
    padding: 0 30px;
  }
  .section-hero .content .text,
  .section-hero .content .title {
    padding-right: 0;
  }
  .section-hero .content .title-hero,
  .section-hero .content .text-hero {
    text-align: center;
  }
  .swiper-hero .swiper-pagination {
    bottom: 15% !important;
  }
  .section-costumers {
    margin-bottom: 20px;
  }
  .section-blog {
    margin-bottom: 55px;
  }
  .section-blog .col-blog:nth-of-type(3) {
    margin-left: 0;
  }
  .section-blog .col-blog:nth-of-type(3) a {
    font-size: 14px;
  }
  .container-blog {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .container-blog .col-sysconnect,
  .container-blog .col-blog {
    margin-right: 0;
    width: 500px;
  }
  .container-blog .card-blog img {
    width: 60%;
  }
  .container-blog .card-blog .paragraph-sysconnect,
  .container-blog .card-blog .paragraph-blog-1 {
    font-size: 16px;
  }
  .container-blog .col-blog {
    margin-top: 50px;
  }
  .container-blog .col-blog a {
    font-size: 16px;
  }
}

@media screen and (max-width: 600px) {
  .section-hero .content .title-hero {
    font-size: 28px;
    margin-top: 40px;
  }
  .section-hero .content .text-hero {
    font-size: 18px;
  }
  .section-hero .content h1,
  .section-hero .content p,
  .section-hero .content a {
    margin-bottom: 40px;
  }
  .container-blog .col-sysconnect,
  .container-blog .col-blog {
    width: unset;
  }
  .container-blog .col-sysconnect img,
  .container-blog .col-blog img {
    width: 100%;
  }
  .container-blog .card-blog .paragraph-sysconnect,
  .container-blog .card-blog .paragraph-blog-1,
  .container-blog .card-blog .paragraph-blog-2,
  .container-blog .card-blog .read-more {
    font-size: 14px;
  }
}

/*media queries - home */
/*section-services*/
.section-services .container-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.section-services .container-services .swiper {
  max-width: 1000px;
}

.section-services .container-services .swiper-services-button-prev.--home,
.section-services .container-services .swiper-services-button-next.--home {
  top: 30%;
}

.section-services .container-services .swiper-services-button-prev.--servicosIntegra,
.section-services .container-services .swiper-services-button-next.--servicosIntegra {
  top: 60%;
}

.section-services .container-services .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-services.--servicosIntegra .container-services {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-services.--servicosIntegra .container-services .service-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.swiper-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1000px;
}

.swiper-services.--home {
  bottom: 70px;
}

.swiper-services.--servicosIntegra {
  top: 0px;
}

.swiper-slide img {
  display: block;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100px;
}

/*section-services*/
@media screen and (max-width: 1087px) {
  .section-services .container-services {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
  }
  .section-services .container-services .swiper {
    max-width: 800px;
  }
}

@media screen and (max-width: 890px) {
  .section-services {
    margin-bottom: 20px;
  }
  .section-services .container-services {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    max-width: 750px;
    margin: 0 auto;
  }
  .section-services .container-services .swiper {
    max-width: 620px;
  }
  .section-services .swiper-services {
    bottom: 50px;
  }
  .section-services .card-services {
    width: 300px;
  }
  .section-services .card-services .card-content {
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .section-services .container-services {
    max-width: 600px;
  }
  .section-services .container-services .swiper {
    max-width: 500px;
  }
}

/*RESET CSS*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

html,
body {
  overflow-x: hidden;
}

/*RESET CSS*/
/*general*/
body {
  font-family: "Montserrat", sans-serif;
  color: #373737;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

/*general*/
.title-h2 {
  color: #02568c;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  text-align: center;
  font-size: 26px;
}

.title-h2:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.title-h2::after {
  height: 3px;
  width: 56px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  content: "";
  bottom: 0;
  position: absolute;
  margin-bottom: -20px;
  background-color: #1caaec;
}

.subtitle-h3 {
  font-weight: 400;
  font-size: 16px;
  color: #1d2d71;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  text-align: center;
  text-align: center;
  margin-bottom: 15px;
}
/*# sourceMappingURL=style.css.map */