@import "_typography.scss";
@import "_colors.scss";
@import "_quem-somos.scss";
@import "_servicos.scss";
@import "_banner.scss";
@import "_btn.scss";
@import "_header.scss";
@import "_footer.scss";
@import "_card.scss";
@import "_breadcrumb.scss";
@import "_info-card.scss";
@import "_contato.scss";
@import "_blog.scss";
@import "_home.scss";
@import "_slider-services.scss";

/*RESET CSS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html,
body {
  overflow-x: hidden;
}
/*RESET CSS*/

/*general*/
body {
  font-family: "Montserrat", sans-serif;
  color: $gray-dark;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
/*general*/

.title-h2 {
  @include heading-2-smaller();
}
.title-h2::after {
  height: 3px;
  width: 56px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  content: "";
  bottom: 0;
  position: absolute;
  margin-bottom: -20px;
  background-color: $blue-light-2;
}
.subtitle-h3 {
  @include heading-3-regular();
  text-align: center;
  margin-bottom: 15px;
}
